html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#times {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100vh;
}

#times li {
  color: white;
  font-weight: bold;
}

.time {
  font-size: xx-large;
}

.city {
  font-size: x-large;
  margin-bottom: 10px;
}

.add-btn {
  background-color: darkslategray;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  float: right;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

.footer {
  position: fixed;
  z-index: 16;
  bottom: 5px;
  right: 5px;
}

.time-city {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}
