html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#times {
  list-style: none;
  padding: 0;
  margin: 0;
}

#times li {
  padding: 10px;
  color: white;
}

.time {
  font-size: xx-large;
}

.city {
  font-size: x-large;
  margin-bottom: 10px;
}
